.history-title {
    border: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.history-updatebtn {
    border: 0;
    width: fit-content;
    background-color: inherit;
    font: inherit;
    font-size: 35px;
}

.history-wrap {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
}

.history-list-wrap {
    width: 15%;
    overflow: auto;
    /* 스크롤바 숨기기 */
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.history-list-wrap::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 스크롤바 숨기기*/
}

.history-titlelist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.recipe-titlebtn {
    width: 80px;
    padding: 5px;
    margin-bottom: 10px;
    font: inherit;
    font-size: 20px;
    color: white;
    border: 0;
    border-radius: 7px;
    background-color: orangered;
}

.history-recipecontents-wrap {
    width: 50%;
}

.recipe-content {
    background-color: white;
    border-radius: 0 7px 7px 7px;
    padding: 5px;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .history-list-wrap {
        width: 25%;
    }
}

@media screen and (max-width: 480px) {
    .history-list-wrap {
        width: 30%;
    }
}
